<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>
      Welcome to ArtHouse., <%= @user.name %>
    </h1>
    <p>
      You have successfully subscribed ot ArtHouse. Your one
    stop shop for your inner artist. Your username is:, <%= @user.name %>
  </p>
    <p>
      To login just click on the link: <%= url %>.
    </p>
    <p>
      Thank you for subscibing our store.
    </p>
  </body>
</html>
