<p>




</p>
<div class="jumbotron">
  <h1 class="display-3">Hello,</h1>
  <p class="lead">This is a simple front stroe app</p>
  <hr class="my-4">
  <p>Use the menu to access Gallery or put your art to show</p>
  <p class="lead">


    <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">SignUp</a>
  </div>
