<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ART OnlineStore</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <li class="dropdown">

          <ul class="dropdown-menu">

          </ul>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li> <%= link_to 'Gallery', products_path %></li>
        <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->

        <li> <%= link_to 'Login', user_session_path %></li>
        <li> <%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</nav>
